<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card style="--background: #2c3d50;">
      <ion-card-header>
        <ion-card-title style="color: white;">
          Selecciona un medidor para conocer el historial de su información
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="row">
          <div class="col-md-6">
            <ion-select style="color: white;" label="Selecciona un medidor" labelPlacement="floating"
              placeholder="Selecciona un medidor" (ionChange)="onSelectElement($event)">
              <ion-select-option *ngFor="let item of medidor_turbina"
                value="{{item.id}}">{{item.modelo_equipo}}</ion-select-option>
            </ion-select>
          </div>
          <div class="col-md-6">
            <ion-select [disabled]="enableMedidor" style="color: white;" label="Información del medidor"
              labelPlacement="floating" placeholder="Selecciona la infromación que deseas obtener del medidor"
              (ionChange)="onSelectInformacion($event)" [(ngModel)]="valorInformacion" [multiple]="true">
              <ion-select-option value="mantenimiento">Mantenimiento</ion-select-option>
              <ion-select-option value="info_historial">Historial de registros del medidor</ion-select-option>
            </ion-select>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- GENERAR TABLA DE LA DESCRIPCIÓN DEL MEDIDOR -->
    <ion-card *ngIf="medidor_seleccionado != undefined">
      <ion-card-header style="--background: #2c3d50; text-align: center;">
        <ion-card-title style="color: white;">Descripción del medidor</ion-card-title>
      </ion-card-header>
      <div class="table-responsive p-2">
        <table class="table" id="tableMedidorSeleccionado">
        </table>
      </div>
    </ion-card>

    <!-- GENERAR TABLA DE MANTENIMIENTO -->
    <ion-card *ngIf="tablaMantenimeitnoGenerada">
      <ion-card-header style="--background: #2c3d50; text-align: center;">
        <ion-card-title style="color: white;">Hisotrial de mantenimiento</ion-card-title>
      </ion-card-header>
      <div class="table-responsive p-2">
        <table class="table" id="tableMantenimientoSelecionado">
        </table>
      </div>
    </ion-card>

    <!-- GENERAR TABLA DE LA INFROMAICÓN DEL EQUIPO -->
    <ion-card *ngIf="tablaHistorialGenerada">
      <ion-card-header style="--background: #2c3d50; text-align: center;">
        <ion-card-title style="color: white;">Historial de los registros de infromaicón</ion-card-title>
      </ion-card-header>
      <div class="table-responsive p-2">
        <table class="table" id="tableInformacionSelecionado">
        </table>
      </div>
    </ion-card>

  </div>
</ion-content>