<ion-header >
  <ion-toolbar style="--background: #2c3d50;">
    <ion-title style="color: white;">Editar Pipa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" [strong]="true" style="color: white;">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="warning" class="text-center">
    <ion-card-header>
      <ion-card-title>Editar Pipa</ion-card-title>
      <ion-card-subtitle>Favor de ingresar la información correspondiente para editar la pipa</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <form [formGroup]="formularioPipa" (submit)="guardarCambios()">
    <div class="row">
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Clave autotanque" labelPlacement="floating" formControlName="clave_pipa"
            type="text" placeholder="Ingrese la clave del autotanque"></ion-input>
        </ion-item>
      </div>
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Responsable" labelPlacement="floating" formControlName="responsable_pipa"
            type="text" placeholder="Ingrese el nombre del responsable"></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-item>
      <ion-textarea label="Localización y descripción" labelPlacement="floating"  [autoGrow]="true" formControlName="localizacion_descripcion_pipa" placeholder="Ingrese la descripción de la pipa">
      </ion-textarea>
    </ion-item>
    <div class="row">
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Capacidad" labelPlacement="floating" formControlName="capacidad_pipa"
            type="number" placeholder="Ingrese la capcidad en Litros de la pipa"></ion-input>
        </ion-item>
      </div>
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Vigencia de calibración del autotanque" labelPlacement="floating" formControlName="vigencia_calibracion_tanque"
            type="date" placeholder="Ingrese la última fecha en la que se calibró"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Capacidad operativa" labelPlacement="floating" formControlName="capacidad_operativa"
            type="number" placeholder="Cantidad máxima en la que opera la unidad"></ion-input>
        </ion-item>
      </div>
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Capacidad útil" labelPlacement="floating" formControlName="capacidad_util"
            type="number" placeholder="Cantidad útil en la que opera la unidad"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Capacidad fondaje" labelPlacement="floating" formControlName="capacidad_fondaje"
            type="number" placeholder="Cantidad fondaje en la que opera la unidad"></ion-input>
        </ion-item>
      </div>
      <div class="col-md-6">
        <ion-item>
          <ion-input label="Valor minimo de operación" labelPlacement="floating" formControlName="volumen_minimo_operacion"
            type="number" placeholder="Cantidad mínima en la que opera la unidad"></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-item>
      <ion-select label="Estado del autotanque" labelPlacement="floating" formControlName="estado_tanque" placeholder="Estado del autotanque">
        <ion-select-option value="O">En operación</ion-select-option>
        <ion-select-option value="F">Fuera de operación</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" expand="full" style="margin-top: 5%;">Guardar Cambios</ion-button>
  </form>
</ion-content>