<ion-content [fullscreen]="true">
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white ion-padding" style="background: #2c3d50;">
      <div class="row">
        <div class="col-md-10 pt-2">
          <h4>Lista de eventos/bitacora</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <ion-button id="agregarUsuarioModal" color="light">
            <ion-icon slot="start" name="add"></ion-icon>
            Agregar <br> evento
          </ion-button>
          <ion-modal trigger="agregarUsuarioModal">
            <ng-template>
              <ion-header>
                <ion-toolbar style="--background: #2c3d50;">
                  <ion-buttons slot="start">
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancel()" [strong]="true" style="color: white;">Cancelar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-card color="warning" class="text-center">
                  <ion-card-header>
                    <ion-card-title>Registro de evento</ion-card-title>
                    <ion-card-subtitle>Favor de ingresar la infromación correspondiente para registrar un
                      evento</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
                <form [formGroup]="formularioBitacora" (ngSubmit)="onSubmit()">
                  <ion-item>
                    <ion-input label="Nombre del usuario" labelPlacement="floating" formControlName="name"
                      type="text" placeholder="Ingrese el nombre del usuario"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input label="Correo electrónico" labelPlacement="floating" formControlName="email"
                      type="text" placeholder="Ingrese el correo electrónico del usuario"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input label="Contraseña" labelPlacement="floating" formControlName="password"
                      type="text" placeholder="Ingrese una contraseña para el usuario"></ion-input>
                  </ion-item>
                  <ion-button type="submit" expand="full" style="padding-top: 2%;">Guardar</ion-button>
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
    <div class="table-responsive p-2">
      <table class="table" id="listaUsuarios">
      </table>
    </div>
  </div>
</ion-content>