<ion-content [fullscreen]="true">
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white ion-padding" style="background: #2c3d50;">
      <div class="row">
        <div class="col-md-10 pt-2">
          <h4>Lista de eventos/bitacora</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <ion-button id="agregarUsuarioModal" color="light">
            <ion-icon slot="start" name="add"></ion-icon>
            Agregar <br> evento
          </ion-button>
          <ion-modal trigger="agregarUsuarioModal">
            <ng-template>
              <ion-header>
                <ion-toolbar style="--background: #2c3d50;">
                  <ion-buttons slot="start">
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancel()" [strong]="true" style="color: white;">Cancelar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-card color="warning" class="text-center">
                  <ion-card-header>
                    <ion-card-title>Registro de evento</ion-card-title>
                    <ion-card-subtitle>Favor de ingresar la infromación correspondiente para registrar un
                      evento</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
                <form [formGroup]="formularioBitacora" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6">
                      <ion-item>
                        <ion-input label="Número de evento" labelPlacement="floating" formControlName="NumeroRegistro"
                          type="text" placeholder="Ingrese el número del evento"></ion-input>
                      </ion-item>
    
                      <ion-item>
                        <ion-input label="Usuario responsable" labelPlacement="floating" formControlName="UsuarioResponsable"
                          type="text" placeholder="Ingrese el usuario responsable"></ion-input>
                      </ion-item>
    
                      <ion-item>
                        <ion-input label="Tipo de evento" labelPlacement="floating" formControlName="TipoEvento"
                          type="text" placeholder="Ingrese el tipo de evento"></ion-input>
                      </ion-item>
    
                      <ion-item>
                        <ion-textarea label="Descripción del evento" labelPlacement="floating" formControlName="DescripcionEvento"
                          type="text" placeholder="Ingrese la descrción del evento" [autoGrow]="true"></ion-textarea>
                      </ion-item>
    
                      <ion-item>
                        <ion-input label="Identificación de la alarma" labelPlacement="floating" formControlName="IdentificacionComponenteAlarma"
                          type="text" placeholder="Ingrese alarma"></ion-input>
                      </ion-item>
                    </div>
                    <div class="col-md-6">
                      <ion-datetime locale="es-ES" formControlName="FechaYHoraEvento"></ion-datetime>
                    </div>
                  </div>
                  <ion-button type="submit" expand="full" style="padding-top: 2%;">Guardar</ion-button>
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
    <div class="table-responsive p-2">
      <table class="table" id="listaBitacora">
      </table>
    </div>
  </div>
</ion-content>