<ion-content [fullscreen]="true">
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white ion-padding" style="background: #2c3d50;">
      <div class="row">
        <div class="col-md-10 pt-2">
          <h4>Lista de registros entradas/salidas</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <ion-button id="agregarRegistroEntradaSalidaModal" color="light">
            <ion-icon slot="start" name="add"></ion-icon>
            Agregar <br> registro
          </ion-button>
          <ion-modal trigger="agregarRegistroEntradaSalidaModal">
            <ng-template>
              <ion-header>
                <ion-toolbar style="--background: #2c3d50;">
                  <ion-buttons slot="start">
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancel()" [strong]="true" style="color: white;">Cancelar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-card color="warning" class="text-center">
                  <ion-card-header>
                    <ion-card-title>Registro de entrada/salida</ion-card-title>
                    <ion-card-subtitle>Favor de ingresar la infromación correspondiente para registrar un ingreso/egreso
                      un pipa</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
                <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
                  <ion-item>
                    <ion-select label="Seleccione una pipa/autotanque" formControlName="id_pipa" labelPlacement="floating">
                      <ion-select-option *ngFor="let item of pipas" value="{{item.id}}">{{item.clave_pipa}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Inventario Inicial" labelPlacement="floating" formControlName="inventario_inical"
                      type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Compra" labelPlacement="floating" formControlName="compra"
                      type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Venta" labelPlacement="floating" formControlName="venta" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Inventario Final" labelPlacement="floating" formControlName="inventario_final"
                      type="text"></ion-input>
                  </ion-item>
                  <ion-button type="submit" expand="full" style="padding-top: 5%;">Guardar</ion-button>
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
    <div class="table-responsive p-2">
      <table class="table" id="listaRegistroPipas">

      </table>
    </div>
  </div>
</ion-content>