<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #2c3d50;">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link" style="background-color: #2c3d50; text-align: center;">
    <span class="brand-text font-weight-light">GAS BUTANO ZAC.</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://cdn-icons-png.flaticon.com/512/21/21104.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Usuario</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Panel de control
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="panel_control/mostrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Panel de control</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- INICIO REPORTES -->
        <li class="nav-header">REPORTES VOLUMETRICOS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-clipboard"></i>
            <!--i class="nav-icon fas fa-chart-pie"></i-->
            <p>
              Reportes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="reporte/registrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registrar reporte</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="reporte/mostrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista de reportes</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- FIN REPORTES -->
        <!-- INICIO PIPAS COMBUSTIBLE -->
        <li class="nav-header">PIPAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <!--i class="nav-icon fas fa-chart-pie"></i-->
            <p>
              Pipas
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="equipo_tecnico/registrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registrar pipa</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista de pipas</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <!--i class="nav-icon fas fa-chart-pie"></i-->
            <p>
              Entrada y salida de combutible
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registrar entrada y salida</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- FIN PIPAS COMBUSTIBLE -->
        <!-- INICIO EQUIPOS -->
        <li class="nav-header">EQUIPOS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-toolbox"></i>
            <!--i class="nav-icon fas fa-chart-pie"></i-->
            <p>
              Medidor de Turbina
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="equipo_tecnico/registrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registrar equipo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="equipo_tecnico/mostrar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista de equipos</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- FIN EQUIPOS -->

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>