<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <form class="">

      <!-- INFORMACIÓN DEL CONTRIBUYENTE -->
      <div class="card shadow p-3 mb-5 bg-white rounded ion-padding">
        <div class="card-header text-white bg-secondary">
          <h5 style="text-align: center;">
            Información fiscal
          </h5>
        </div>      
        
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="RfcContribuyente">RFC Contribuyente:</label>
              <input type="text" id="RfcContribuyente" name="RfcContribuyente" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label for="RfcRepresentanteLegal">RFC Representante Legal:</label>
              <input type="text" id="RfcRepresentanteLegal" name="RfcRepresentanteLegal" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label for="RfcProveedor">RFC Proveedor:</label>
              <input type="text" id="RfcProveedor" name="RfcProveedor" class="form-control">
            </div>
            <div class="form-group col-md-12">
              <label for="RfcProveedores">RFC Proveedores:</label>
              <textarea class="form-control" id="RfcProveedores" name="RfcProveedores"
                placeholder="Favor de escribir los RFC, separado por comas, Ej. RFC0000000, RFC0000000"></textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN INFORMACIÓN DEL CONTRIBUYENTE -->


      <!-- INFORMACIÓN DEL CARACTER -->
      <div class="card shadow p-3 mb-5 bg-white rounded ion-padding">
        <div class="card-header text-white bg-secondary">
          <h5 style="text-align: center;">
            Información sobre el tipo de carácter
          </h5>
        </div> 

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="Caracter">Caracter:</label>
              <select id="Caracter" name="Caracter" class="form-control">
                <option value="" selected></option>
                <option value="Contratista">Contratista</option>
                <option value="Asignatario">Asignatario</option>
                <option value="Permisionario">Permisionario</option>
                <option value="Usuario">Usuario</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ModalidadPermiso">Modalidad de Permiso</label>
                <input type="text" class="form-control" id="ModalidadPermiso" placeholder="Ingrese la modalidad de permiso">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="NumPermiso">Número de Permiso</label>
                <input type="text" class="form-control" id="NumPermiso" placeholder="Ingrese el número de permiso">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="NumContratoOAsignacion">Número de Contrato o Asignación</label>
                <input type="text" class="form-control" id="NumContratoOAsignacion"
                  placeholder="Ingrese el número de contrato o asignación">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="InstalacionAlmacenGas">Instalación de Almacén de Gas</label>
                <input type="text" class="form-control" id="InstalacionAlmacenGas"
                  placeholder="Ingrese la instalación de almacén de gas">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN INFORMACIÓN DEL CARACTER -->

      <!-- INICIO INFORMACIÓN DE LA PLANTA -->
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header text-white bg-secondary">
          <h5 style="text-align: center;">
            Información sobre las instalaciones
          </h5>
        </div> 

        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Clavelnstalacion">Clave Instalación:</label>
              <input type="text" id="Clavelnstalacion" name="Clavelnstalacion" class="form-control">
            </div>
            <div class="form-group col-md-9">
              <label for="DescripcionInstalacion">Descripción Instalación:</label>
              <textarea class="form-control" id="DescripcionInstalacion" name="DescripcionInstalacion" rows="3"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="Geolocalizacion">Geolocalización:</label>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Latitud" id="latitudGas" name="latitudGas">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Longitud" id="longitudGas" name="longitudGas">
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="NumeroPozos">Número Pozos:</label>
              <input type="number" id="NumeroPozos" name="NumeroPozos" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="NumeroTanques">Número Tanques:</label>
              <input type="number" id="NumeroTanques" name="NumeroTanques" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="NumeroDuctosEntradaSalida">Número Ductos Entrada/Salida:</label>
              <input type="number" id="NumeroDuctosEntradaSalida" name="NumeroDuctosEntradaSalida" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="NumeroDuctosTransporte">Número Ductos Transporte:</label>
              <input type="number" id="NumeroDuctosTransporte" name="NumeroDuctosTransporte" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="NumeroDuctosTransporte">Número Dispensarios:</label>
              <input type="number" id="NumeroDuctosTransporte" name="NumeroDuctosTransporte" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="FechaYHoraCorte">Fecha y Hora de Corte:</label>
              <input type="datetime-local" id="FechaYHoraCorte" name="FechaYHoraCorte" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <!-- FIN INFORMACIÓN DE LA PLANTA -->

    </form>
  </div>
</ion-content>