ion-item::part(native) {
    background: #2c3d50;
    color: #fff;

    text-align: center;
  }

@media (min-width: 1024px) {
  .modalPc {
    --width: 60%;
    --min-width: 600px;
    --height: 90%;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
}