<ion-content [fullscreen]="true">
  <!-- INICIO CONTENIDO DE LOS ALMACENES -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
    <div class="col mb-3">
      <div class="card ion-margin" style="max-width: 100%;">
        <div class="card-header text-white bg-secondary">
          <h4 class="text-center">ALMACÉN 1</h4>
        </div>
        <div style="text-align: center;">
          <img src="/assets/img/almcen_gas.png" width="70%" alt="...">
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card ion-margin" style="max-width: 100%;">
        <div class="card-header text-white bg-secondary">
          <h4 class="text-center">ALMACÉN 2</h4>
        </div>
        <div style="text-align: center;">
          <img src="/assets/img/almcen_gas.png" width="70%" alt="..." style="transform: scaleX(-1);">
        </div>
      </div>
    </div>
  </div>
  <!-- FIN CONTENIDO DE LOS ALMACENES -->

  <!-- INICIO HISTORIAL DE CARGAS Y SALIDAS -->
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white bg-secondary text-center pt-1">
      <h4>Registro de llenado de combustible</h4>
    </div>
    <div class="table-responsive p-2">
      <table class="table" id="almacenCombustible">
        <thead>
          <tr>
            <th>Contendor</th>
            <th>Cantidad inical</th>
            <th>Cantidad final</th>
            <th>% llenado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
          </tr>
          <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- FIN HISTORIAL DE CARGAS Y SALIDAS -->

  <!-- INICIO HISTORIAL DE CARGAS DE PIPAS -->
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white bg-secondary text-center pt-1">
      <h4>Entradas y salidas para la carga de pipas</h4>
    </div>
    <div class="table-responsive p-2">
      <table class="table" id="almacenPipas">
        <thead>
          <tr>
            <th>Id. Pipa</th>
            <th>Inventario Inicial</th>
            <th>Compra</th>
            <th>Venta</th>
            <th>Inventario Final</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
          </tr>
          <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- FIN HISTORIAL DE CARGAS DE PIPAS -->
</ion-content>