<ion-content [fullscreen]="true">
  <!-- INICIO CONTENIDO DE LOS ALMACENES -->
  <div class="mb-3">

    <!-- Colocar un reloj FECHA Y HORA cambiando en tiempo real -->
    <!-- Reloj en tiempo real -->
    <!-- Reloj en tiempo real con estilo -->
    <ion-card class="ion-margin reloj-card" color="dark">
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle style="color: white; font-size: 1rem;">Fecha y Hora Actual</ion-card-subtitle>
        <ion-card-title style="color: #f8f9fa; font-size: 1.3rem;">
          {{ reloj }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>


    <div class="card ion-margin" style="max-width: 100%;">
      <div class="card-header" style="background: #2c3d50;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 pt-1" style="color: white;">
            <ion-select label="Selecciona un almacen" placeholder="Selecciona un almacen"
              (ionChange)="selectAlmacen($event)">
              <ion-select-option *ngFor="let item of almacenDatos"
                value="{{item.id}}">{{item.clave_almacen}}</ion-select-option>
            </ion-select>
          </div>
        </div>
      </div>
      <div *ngIf="almacen != undefined;else elseAlmacen">
        <div class="row">
          <div class="col-md-6" style="text-align: center;">
            <img src="/assets/img/almcen_gas.png" width="70%" alt="...">
            <div class="ion-margin text-center">
              <ion-label class="progress-label">
                {{ cantidadAlmacenTexto }}
              </ion-label>
              <ion-progress-bar class="progress-bar" [value]="cantidadAlmacen1" color="warning"></ion-progress-bar>
            </div>            
          </div>
          <div class="col-md-6 pt-2 pb-2">
            <h4 style="text-align: center;">Información del almacen</h4>
            <div class="ion-padding">
              <b>Clave del almacen:</b> <br> {{almacen[0].clave_almacen}}<br>
              <b>Estado del tanque:</b> <br> {{almacen[0].estado_tanque}}<br>
              <b>Vigencia de calibiración:</b> <br> {{almacen[0].vigencia_calibracion_tanque}}<br>
              <b>Capacidad almacen:</b> <br> {{almacen[0].capacidad_almacen}}<br>
              <b>Capacidad operativa:</b> <br> {{almacen[0].capacidad_operativa}}<br>
              <b>Capacidad útil:</b> <br> {{almacen[0].capacidad_util}}<br>
              <b>Capacidad de fonaje:</b> <br> {{almacen[0].capacidad_fondaje}}<br>
              <b>Volumen minimo de operción:</b> <br> {{almacen[0].volumen_minimo_operacion}}
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseAlmacen>
        <h4 style="text-align: center;" class="ion-padding">
          Aún no se han creado o selecionado almacenes.
        </h4>
      </ng-template>
    </div>
  </div>
  <!-- FIN CONTENIDO DE LOS ALMACENES -->

  <!-- INICIO HISTORIAL DE CARGAS Y SALIDAS -->
  <div class="card ion-margin rounded">
    <div class="card-hedaer text-white text-center pt-1" style="background: #2c3d50; color: white;">
      <h4>Registro diario de eventos del tanque</h4>
    </div>
    <div class="table-responsive p-2">
      <table class="table table-responsive" id="almacenCombustible">
      </table>
    </div>
  </div>
  <!-- FIN HISTORIAL DE CARGAS Y SALIDAS -->
</ion-content>