.perfil {
    width: 200px; /* Cambia el valor según el tamaño deseado */
    height: 200px; /* Cambia el valor según el tamaño deseado */
    border-radius: 50%; /* Esto redondea la imagen */
    display: block;
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
  }