<div class="ion-padding">
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Registro</h3>
    </div>
    <div class="card-body">
      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
          <div class="col mb-3 form-floating">
            <label for="">Modelo del equipo</label>
            <input type="text" id="" class="form-control" placeholder="Model">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Rango de flujo</label>
            <input type="text" id="" class="form-control" placeholder="Flow range">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Rango de temperatura</label>
            <input type="text" id="" class="form-control" placeholder="Temperature">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Número de serie</label>
            <input type="text" id="" class="form-control" placeholder="Meter Number">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Precisión</label>
            <input type="text" id="" class="form-control" placeholder="Accuracy">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Suminitro de poder (Energia)</label>
            <input type="text" id="" class="form-control" placeholder="Power Supply">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Salida del modelo</label>
            <input type="text" id="" class="form-control" placeholder="Output Model">
          </div>
          <div class="col mb-3 form-floating">
            <label for="">Fecha</label>
            <input type="text" id="" class="form-control" placeholder="Date">
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
          <div class="col mb-3 form-floating">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Borrar formulario</button>
          </div>
          <div class="col mb-3 form-floating">
            <button type="button" class="btn btn-primary btn-lg btn-block">Guardar equipo</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>